@use 'fonts';
@use 'root-token';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  html,
  body {
    scroll-behavior: smooth;
    font-family: 'Ekachon';
    @apply m-0 overflow-x-hidden;
  }

  #__next {
    isolation: isolate;
  }
}

.icon-up {
  @apply transition-all duration-300 hover:-translate-y-2 hover:bg-main-color-primavera1 rounded-full bg-white size-12 flex justify-center items-center cursor-pointer;
}