:root {
    --main-color-primavera1: #dc965a;
    --main-color-primavera2: #FFE3BD;
    --main-color-primavera3: #dddd7b;
    --main-color-primavera4: #ffe797;
    --main-color-primavera5: #f691a9;
    --main-color-primavera6: #c87cdc;

    --color-gray1: #5d5c5c;
    --color-gray2: #b8b6b6;
}