.home {
  background: radial-gradient(circle, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 50%, rgba(255, 227, 189, 1) 100%);
  @apply flex flex-row w-full h-screen justify-center items-center relative px-4 xl:px-48;

  &-started {
    @apply flex-1 flex flex-col space-y-8 z-10 text-center;
  }

  &-profile {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    justify-self: center;
    animation: profile_img 8s ease-in-out infinite 1s;
    background-size: cover;
  }
}

.about {
  @apply flex flex-col shrink-0 space-y-3 md:space-y-6;

  &-list-contract {
    @apply w-[100px] text-sm sm:text-base relative after:absolute after:right-5 after:w-[1px] after:top-1/2 after:-translate-y-1/2 after:h-4 after:bg-zinc-400;
  }
}

.experiences {
  @apply w-full 2xl:w-[70%] grid sm:grid-cols-2 gap-6;

  &-box-col {
    @apply flex flex-col space-y-8 p-6 shadow-lg rounded-2xl w-full;
  }

  &-content {
    @apply flex flex-col space-y-1 relative after:absolute after:left-0 after:-bottom-5 after:w-full after:h-[1px] after:border-dotted after:bg-main-color-primavera1 after:last:hidden;
  }
}

.skill {
  &-content {
    @apply text-neutral-500 flex flex-col justify-center items-center;
  }
}

.profile {
  @apply bg-main-color-primavera2 py-12 md:py-20 px-4 xl:px-60 min-h-[660px] flex justify-center items-center;

  &-box-col {
    @apply w-full 2xl:w-[70%] flex flex-col justify-center items-center space-y-6;
  }
}

@keyframes profile_img {
  0% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%
  }

  50% {
    border-radius: 30% 60% 70% 40% / 50% 30% 60% 70%
  }

  100% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%
  }
}