@keyframes profile_img 
  0% 
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%
  
  50% 
    border-radius: 30% 60% 70% 40% / 50% 30% 60% 70%
  
  100% 
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%
    
// breakpoints max-width
@media screen and (max-width: 576px)
  .ant-timeline .ant-timeline-item
    font-size: 14px

@media screen and (max-width: 768px)


@media screen and (max-width: 992px)


@media screen and (max-width: 1200px)


// breakpoints min-width
@media screen and (min-width: 576px)

@media screen and (min-width: 768px)
  header
      height: 80px

@media screen and (min-width: 992px)
  header
      height: 88px

@media screen and (min-width: 1200px)
  .container
      max-width: 1200px

  main
      max-width: 1200px

// scheme color
@media (prefers-color-scheme: dark)
  html
      color-scheme: dark

  body
      color: #b0b8b8
      background-color: #111111

  header,
  footer
      border-bottom: 1px solid #323232
      background-color: #000

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  a
    color: #b0b8b8

  li:hover
    color: #d0d0d0

  .ant-input
    background: #000
    border-color: #3d3d3f
    color: #b0b8b8

  .ant-input::placeholder
    color: #3d3d3f
    

  .ant-form-item .ant-form-item-label > label
    color: #b0b8b8

  .ant-card
    background: #000
    border-color: #3d3d3f

  .ant-divider
    border-color: #3d3d3f

  .ant-timeline .ant-timeline-item
    font-size: 18px
    color: #b0b8b8
    cursor: default

  .ant-timeline .ant-timeline-item-tail
    border-color: #3d3d3f
    

    